<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops! Unexpected Error</title>
    <link rel="stylesheet" th:href="@{/css/error-style.css}">
</head>

<body>
<div class="background"></div>
<div class="container">
    <h1>Oops!</h1>
    <p>We seem to have taken a wrong turn on this journey! <br> The unexpected just happened... 🗺️</p>
    <p>But hey, every traveler loves a detour, right? 🌍✨</p>
    <a th:href="@{/home}">Return to Safety</a>
</div>
</body>
</html>